@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #000000;
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: Helvetica;
  src: url("../public/helvetica/Helvetica.ttf");
  font-display: swap;
}
